@page "/day23.2sample"
@inject Day23SampleModel Day23SampleModel

<h3>Day23Sample2</h3>

<p>
    Day23SampleModel.Value: @Day23SampleModel.Value
</p>

<input @bind="Day23SampleModel.Value" />

<NavLink href="/day23sample">Go To Day23Sample</NavLink>

@code {

}
