@page "/day24sample"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject TestConfig TestConfig
<h3>Day24Sample</h3>

<p>Configuration["message"]: @Configuration["message"]</p>
<p>Configuration["test:message"]: @Configuration["test:message"]</p>
<p>Configuration["value"]: @Configuration["value"]</p>
<p>TestConfig.Message: @TestConfig.Message</p>
@code {
}