@* CustomPage.razor *@
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="custompage">前往自訂頁面</a>

<div>
    <h3>範本</h3>
    <div>
        <a href="day12sample">前往 Day 12 範本</a>
    </div>
    <div>
        <a href="day13sample">前往 Day 13 範本</a>
    </div>
    <div>
        <a href="day14sample">前往 Day 14 範本</a>
    </div>
    <div>
        <a href="day15sample">前往 Day 15 範本</a>
    </div>
    <div>
        <a href="day16sample">前往 Day 16 範本</a>
    </div>
    <div>
        <a href="day17sample">前往 Day 17 範本</a>
    </div>
</div>