@* CustomPage.razor *@
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="custompage">前往自訂頁面</a>

<div>
    <h3>範本列表</h3>
    <ul>
        @foreach (var route in Routes)
        {
            <li style="margin-bottom:10px">
                <NavLink href="@route.Url">@route.Description</NavLink>
            </li>
        }
    </ul>
</div>

@code{
    IEnumerable<Route> Routes = new List<string>
{
        "12","13","14","15","16","17","18","19","21","22","23","23.2"
    }.Select(x => new Route
{
    Url = $"day{x}sample",
    Description = $"前往 Day {x} 範本"
});

    private class Route
    {
        public string Url { get; set; }
        public string Description { get; set; }
    }
}